@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply px-4 py-2 bg-brand-600 text-white rounded hover:bg-brand-700 transition duration-150 ease-in-out;
    }
}
